h1 {
    font-size: 18px;
    border: 1px solid var(--ion-color-primary);
    padding: 6px;
    border-radius: 5px;
}

.offer-details {
    padding-top: 5px;
    display: flex;
    align-items: center;

    .space-left {
        margin-left: 5px;
    }

}